.cardfield {
  width: 75%;
  max-width: 80rem;
  margin: 18rem auto 2rem auto;
  padding: 2rem;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 25px;
}

@media only screen and (max-width: 390px) {
  .cardfield {
    width: 80%;
  }
  .container {
    grid-template-columns: repeat(auto-fit, minmax(90px, 90px));
    gap: 50px;
  }
}
